
conda.enabled = true


// singularity.enabled = true
// process.container = '/n/core/Bioinformatics/analysis/CompBio/boweny/nf-Pipeline/nextflow-GenomeIndex_Ver_4/assets/singularity_roboindex.sif'
// singularity.autoMounts = true

profiles {
    local {
        process.executor = 'local'
       // process.conda = "${projectDir}/env/PrimeG4.yml"
       process.conda = "/home/compbio_svc/miniconda3/envs/PrimeG4"
    }
    standard {
        process {
           // conda = "${projectDir}/env/PrimeG4.yml"
            conda = "/home/compbio_svc/miniconda3/envs/PrimeG4"
            executor = 'slurm'
            withLabel: big_mem {
                cpus = 30
                memory = 300.GB
            }
            withLabel: lil_mem {
                cpus = 5
                memory = 30.GB
            }
            withLabel: small_mem {
                cpus = 1
                memory = 3.GB
            }
            withName: bowtie2_fastqc {
                cpus = 15
                memory = 50.GB
            }
            withName: bowtie2_fastqc_Aviti {
                cpus = 15
                memory = 50.GB
            }
            withName: bclconvert {
                cpus = 65
                memory = 200.GB
            }
            withName: sgdemux_demultiplex {
                cpus = 55
                memory = 200.GB
            }
            withLabel: gpu {
                cpus = 4
                memory = 100.GB
                clusterOptions = '--gres=gpu:a100:1 --partition=gpu'
            }

        }      
    }
}
